<h1>Modulo Pandas</h1>

In [2]:
# importamos el modulo pandas
import pandas as pd

In [3]:
# crear serie a partir de una lista de nombres
lista = ['Juan', 'Pedro','Estefania','Ana','Esteban']
serie = pd.Series(lista, dtype='string')
serie

0         Juan
1        Pedro
2    Estefania
3          Ana
4      Esteban
dtype: object

In [11]:
# crear serie a partir de un diccionario
diccionario = {0:'Juan', 1:'Pedro', 2:'Estefania', 3:'Ana', 4:'Esteban'}
diccionario = {key:lista[key] for key in range(len(lista))}
serie = pd.Series(diccionario)
serie

0         Juan
1        Pedro
2    Estefania
3          Ana
4      Esteban
dtype: object

In [12]:
print('Longitud:',serie.size)

Longitud: 5

In [13]:
print('indices de la serie:', serie.index)

indices de la serie: Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [14]:
print('Tipo:', serie.dtype)

Tipo: object

In [17]:
# Acceder a los elementos por posicion
print("2 primeros:", serie[:2])  # 2 primeros
serie[:2]

2 primeros: 0     Juan
1    Pedro
dtype: object

0     Juan
1    Pedro
dtype: object

In [18]:
serie[1:3] # el 3 no esta incluido

1        Pedro
2    Estefania
dtype: object

In [19]:
serie[2:]

2    Estefania
3          Ana
4      Esteban
dtype: object

In [20]:
# Acceder a los elementos por el indice
serie[0]

'Juan'

In [7]:
serie[len(serie) - 1]
serie[-1:]
#serie[-1]   No funciona

4    Esteban
dtype: object

In [24]:
# Obtener solo 2 elementos 
serie[[0, 3]]

0    Juan
3     Ana
dtype: object

In [26]:
# Ejecutar lambdas con apply
serie.apply(lambda nombre: nombre.upper())

0         JUAN
1        PEDRO
2    ESTEFANIA
3          ANA
4      ESTEBAN
dtype: object

# Ejercicio
# crear una serie de numeros y retornar la serie multiplicados * 2
# con la serie de nombres creada anteriormente, retornar solo los que tienen mas de 4 caracteres

In [12]:
serie_numeros = pd.Series([1,2,3,4,5])
serie_numeros.apply(lambda num: num*2)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [10]:
# Crear el filtro
filtro = serie.apply(lambda nombre: len(nombre)>4) # Solo contiene los valores True, False
# aplicamos el filtro a la serie
serie[filtro]

1        Pedro
2    Estefania
4      Esteban
dtype: object

In [13]:
# crear un filtro para que solo me devuleva Juan y Ana
filtro = serie.apply(lambda nombre: nombre in ['Juan','Ana'])
serie[filtro]

0    Juan
3     Ana
dtype: object

In [14]:
# otra forma de crear filtros
serie[(serie == 'Juan') |  (serie=='Ana')]

0    Juan
3     Ana
dtype: object